<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <a href="/read">Read users</a>
    <h1>Create User</h1>
         <form action="/create" method="post">
            <input type="text" placeholder="name" class="input" name="name">
            <input type="text" placeholder="email" class="input" name="email">
            <input type="text" placeholder="Image" class="input" name="image">
            <input type="submit" value="Create user" class="submit">
         </form>
</body>
</html>